.payment_providers {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 20px;
    padding-top: 1.25rem;
    align-items: center;
    border-bottom: 1px solid @gray;
}

.payment_providers li {
    margin: 0 auto;
    align-items: center;
    padding: 0px 10px 0px 10px;
    padding: .45rem;
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    list-style-type: none;
    height: 42px;
    min-width: 140px;
    border: 1px solid rgb(237, 238, 239);
    background-color: #fff;
}
 .payment_providers li img {
    height: 100%;
    transition: all .2s ease-in-out;
    transform: scale(1,1);
    margin: 0 auto;
}