@DinProPath: "./fonts";

@font-face {
    font-family: 'DIN Pro Cond';
    src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
        url('DINPro-CondensedMedium.woff2') format('woff2'),
        url('DINPro-CondensedMedium.woff') format('woff'),
        url('DINPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Medium'), local('DINPro-Medium'),
        url('DINPro-Medium.woff2') format('woff2'),
        url('DINPro-Medium.woff') format('woff'),
        url('DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Light'), local('DINPro-Light'),
        url('DINPro-Light.woff2') format('woff2'),
        url('DINPro-Light.woff') format('woff'),
        url('DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
        url('DINPro-CondensedBold.woff2') format('woff2'),
        url('DINPro-CondensedBold.woff') format('woff'),
        url('DINPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro'), local('DINPro'),
        url('DINPro.woff2') format('woff2'),
        url('DINPro.woff') format('woff'),
        url('DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
        url('DINPro-CondensedRegular.woff2') format('woff2'),
        url('DINPro-CondensedRegular.woff') format('woff'),
        url('DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
        url('DINPro-CondensedLight.woff2') format('woff2'),
        url('DINPro-CondensedLight.woff') format('woff'),
        url('DINPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Bold'), local('DINPro-Bold'),
        url('DINPro-Bold.woff2') format('woff2'),
        url('DINPro-Bold.woff') format('woff'),
        url('DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

