.footer-main {
    background: #000;
    color: #fff;
}
.footer-main .container {
    background: transparent;
}


.footer-main .column--headline {
	text-transform: uppercase;
}

.footer-main .navigation--link {
	color: @gray-light;
}