.header-main {
  .logo-main {
    .logo--link, .logo--shop {
      // Smartphone
      .unitize(height, 40); // Logohöhe = 40px

      // Smartphone Landscape
      @media screen and (min-width: @phoneLandscapeViewportWidth) {
        .unitize(height, 30); // Logohöhe = 60px
      }

      // Tablet
      @media screen and (min-width: @tabletViewportWidth) {
        .unitize(height, 40); // Logohöhe = 60px
      }

      // Tablet Landscape
      @media screen and (min-width: @tabletLandscapeViewportWidth) {
        .unitize(height, 40); // Logohöhe = 80px
      }

      // Desktop
      @media screen and (min-width: @desktopViewportWidth) {
        .unitize(height, 40); // Logohöhe = 80px
      }
    }
  }
}




// Smartphone
@media screen and (max-width: @tabletLandscapeViewportWidth) {
  .shop--navigation .entry--account {
      display: none;
  }
}





// GLOBAL
.logo-main {
  text-align: center;
}
.top-bar {
  background: @gray-light;
  .unitize(font-size, 13);  

}
.top-bar a {
  .unitize(padding, 0);
  .unitize(line-height, 25);
  .unitize(margin-right, 5);  
  color: @gray-dark;
}
.top-bar a:hover {
  color: @sp-pink;
}

.top-bar i {
  color: @sp-green;
  .unitize(margin-right, 5);  

}

// Desktop
@media screen and (min-width: @desktopViewportWidth) {
  .header-main {
    .shop--navigation, .logo-main, .search  {
        width: 33%;
        padding: 0;
    }
  .shop--navigation {float: right;}
  .search {float: left;}


  }
}