/*
Main navigation
==========================================
Contains the styles of the main navigation of the Shopware storefront.

The main navigation is positioned above the content section.

It contains the viewport specific styles inside media queries.
*/

.navigation-main {
    background: #fff;
    display: none;
}

@media screen and (min-width: @tabletViewportWidth) {
    .navigation-main {
        border-bottom: 0px solid @gray-light;
        display: block;
        position: relative;

        .navigation--list {
            .clearfix();
            .unitize-padding(0, 10);
            margin: 0;
            position: relative;
            white-space: nowrap;
        }

        .navigation--entry {
            display: inline-block;
            -ms-touch-action: none;
        }

        .navigation--link {
            position: relative;
            text-transform: uppercase;
            .transition(none);
            .unitize-padding(8, 14);
            .unitize(font-size, 16);
            .border-radius-multi(0px, 0px, 0, 0);
            margin: 0;
            display: block;
            cursor: pointer;
            color: @text-color;

            &:hover { color: @sp-pink; }
        }

        .is--active .navigation--link {
            background-image: none;
            font-weight: @font-bold-weight;
            color: @sp-pink;

            &:hover { color: @brand-primary; }
        }     
    }
}

.navigation--link:after {
    content: " ";
    background:#000;
    height: 2px;
    opacity: 0;

    display: block;
    position: absolute;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transition-timing-function: cubic-bezier(.58,.3,.005,1);
    -o-transition-timing-function: cubic-bezier(.58,.3,.005,1);
    transition-timing-function: cubic-bezier(.58,.3,.005,1);

}
.navigation-main .navigation--link:hover .navigation--link:after {
    width: 100%;
    opacity: 1;
    left: 0;
    bottom: 0;
    background: @sp-pink;
}



@media screen and (min-width: @desktopViewportWidth) {
    .navigation-main {
        .navigation--list {
            padding: 0;
            border-bottom: 1px solid @gray-light;

        }
    }
}