.social-media-links li {
    list-style: none;
    display: inline-block;
    .unitize-padding(20, 10);
    font-size: 2em;
}

.social-media-links li a {
    color: @gray;
}
.social-media-links li a:hover {
    color: #fff;
}


.social-media-links .facebook:hover {
    background-color: @facebook;
}
.social-media-links .twitter:hover {
    background-color: @twitter;
}
.social-media-links .instagram:hover {
    background-color: @instagrammagenta;
}
.social-media-links .pinterest:hover {
    background-color: @pinterest;
}
.social-media-links .youtube:hover {
    background-color: @youtube;
}

