//social media icons + colors
footer .social-media-links li {
	display: inline-block;
    .unitize(padding, 20);
}



.facebook {
	background-color: @facebook;
}
.twitter {
	background-color: @twitter;
}