//social media icons + colors
.facebook:hover {
	background-color: @facebook;
}
.twitter:hover {
	background-color: @twitter;
}
.youtube:hover {
	background-color: @youtube;
}
.instagram:hover {
	background-color: @instagrammagenta;
}
.pinterest:hover {
	background-color: @pinterest;
}


//IN FOOTER
footer .social-media-links li {
	display: inline-block;
}

footer .social-media-links li a {
	display: inline-block;
	color: @gray-light;
    .unitize(font-size, 24);
    .unitize(padding, 20);
}


